name: autoshop
services:
  db:
    container_name: db
    ports:
      - "5432:5432"
    environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
        SPRING_DATASOURCE_USERNAME: postgres
        SPRING_DATASOURCE_PASSWORD: Root
    image: postgres:latest
    networks:
      - backend

  app:
    container_name: wizardly_jemison
    image: evgeniygorbeko/autoshop:1.0
    ports:
      - 8080:8080
    environment:
      - DB_HOST=db
    depends_on:
      - db
    networks:
      - backend

networks:
  backend:
    driver: bridge

